<div class="container">
<mat-card *ngIf="assignmentTransmis">
    <mat-card-content>
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu |date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <mat-card-actions id="bottom">
        <mat-checkbox *ngIf="!assignmentTransmis.rendu"
    (click)="onAssignmentRendu()">Devoir rendu</mat-checkbox>
    
        <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">Edit</button>
    <button mat-flat-button color="warn" [disabled]="!isAdmin()"
     (click)="onDelete()">delete assignment</button>
    </mat-card-actions>
</mat-card-content>
</mat-card>
</div>
