<main class="container" >
<div class="ajoutbtn">
    <a routerLink="/add">
<button class="ajoutbtn" mat-flat-button color="accent">Add Assignment</button>
</a>
</div>
<div class="log">
    <a routerLink="/login-p">
<button class="ajoutbtn" mat-flat-button color="primary">LOGGG
</button>
</a>
</div>
<div class="ass">
<p class="ass-p">nbr total d'assignment {{totalDocs}}</p>
<p class="ass-p">nbr total de page {{totalPages}}</p>
<p class="ass-p">  nbr d'assignment par page <input type="range" min="1" max="100" value="10" (change)="getAssignments()" [(ngModel)]="limit" >{{limit}}</p>
</div>
<div class="contain">
<button class="log" mat-raised-button color="primary" [disabled]="page===1" (click)="premierePage()">premier</button>
<mat-divider></mat-divider>
<button  class="log" mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">precedente</button>
<mat-divider></mat-divider>
<button class="log"  mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">suivante</button>
<mat-divider></mat-divider>
<button class="log" mat-raised-button color="accent" [disabled]="page===totalPages" (click)="lastPage()">derniere</button>
<mat-divider></mat-divider>
</div>
<mat-list *ngFor="let assignment of assignments let i=index">
    <nav><a  routerLink="/assignment/{{assignment.id}}">
    
    <h3 class="assigns-d" style="color: black;" >{{assignment.dateDeRendu | date}}</h3>
    <mat-list-item>
    
   <p   class="assigns" appRendu  *ngIf="assignment.rendu ; else nonsoumis" > {{i}} - {{assignment.nom}} a rendre le {{assignment.dateDeRendu}}
    soumis par l'eleve: {{assignment.rendu}}</p>

    <ng-template  class="assigns-n"  #nonsoumis>
        {{i}} - {{assignment.nom}} non rendu
    </ng-template>
<mat-divider></mat-divider>
</mat-list-item>

</a></nav>
</mat-list>

<table mat-table [dataSource]="assignments" class="mat-elevation-z8 demo-table" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="demo-id">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="demo-nom">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="demo-dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date De Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeRendu}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="demo-rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
</main>